body {
  position: relative;
}

p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#player-point-title {
  font-size: 1.5rem;
}

#game-ui {
  display: none;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0 0 0.5rem 0.5rem;
  color: rgb(5, 5, 5);
  position: fixed;
  margin: 0 0 0 1rem;
  padding: 1rem 1.5rem 1rem 1.5rem;
  z-index: 100000;
  top: 0;
  left: 0;
}
